<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>CookBase</title>

  <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
</head>
<body>
<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3 mb-4">
    <a class="navbar-brand" th:href="@{/}">
      <i class="fas fa-utensils"></i> CookBase
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navBar"
            aria-controls="navBar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navBar">

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="btn btn-success" th:href="@{/recipes}">View Recipes</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto" sec:authorize="isAnonymous()">
        <li class="nav-item">
          <a class="nav-link btn btn-sm btn-outline-primary" th:href="@{/login}">
            <i class="fas fa-sign-in-alt"></i> Sign In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-sm btn-outline-secondary" th:href="@{/register}">
            <i class="fas fa-user-plus"></i> Register
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto align-items-center" sec:authorize="isAuthenticated()">
        <span class="me-1">Welcome,</span>
        <li class="nav-item">
          <a class="nav-link fw-bold text-primary" href="#"
             th:text="${#authentication.name}">username</a>
        </li>
        <li class="nav-item">
          <form th:action="@{/logout}" method="post" class="d-inline">
            <button class="btn btn-sm btn-outline-danger ms-2" type="submit">
              <i class="fas fa-sign-out-alt"></i> Log out
            </button>
          </form>
        </li>
      </ul>

    </div>
  </nav>



  <div class="text-center mt-5">
    <h1>Welcome to CookBase</h1>
    <p class="lead">Explore, cook, share recipes and more!</p>
  </div>

</div>
</body>
</html>
