<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${recipe.title}">Recipe</title>

    <link rel="stylesheet"
          href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
</head>
<body class="container mt-4">


<a class="btn btn-outline-secondary mb-3"
   th:href="@{'/recipes'}">← All recipes</a>

<h2 th:text="${recipe.title}">Title</h2>

<p class="lead" th:text="${recipe.description}">Description</p>

<table class="table w-auto">
    <tr><th>Prep&nbsp;(min)</th><td th:text="${recipe.prepTimeInMinutes}">10</td></tr>
    <tr><th>Cook&nbsp;(min)</th><td th:text="${recipe.cookTimeInMinutes}">20</td></tr>
    <tr><th>Servings</th>      <td th:text="${recipe.servings}">4</td></tr>
    <tr>
        <th>Categories</th>

        <td th:text="${#strings.listJoin(recipe.categories, ', ')}">
            Dessert, Vegan
        </td>
    </tr>
</table>


<h4>Ingredients</h4>
<ul class="list-group mb-4">
    <li class="list-group-item"
        th:each="ing : ${recipe.ingredients}"
        th:text="${ing.quantity + ' ' + ing.name}">
        2&nbsp;cups&nbsp;flour
    </li>
</ul>


<h4>Steps</h4>
<ol class="list-group list-group-numbered mb-4">

    <li class="list-group-item"
        th:each="st : ${recipe.steps}"
        th:text="${st.instruction}">
        Mix everything…
    </li>
</ol>


<h4 th:text="'Reviews (' + ${recipe.reviews.size()} + ')'">Reviews</h4>
<table class="table table-sm">
    <thead>
    <tr><th>#</th><th>Rating</th><th>Comment</th><th>By</th><th>At</th></tr>
    </thead>
    <tbody>

    <tr th:each="rev, stat : ${recipe.reviews}">
        <td th:text="${stat.count}">1</td>
        <td th:text="${rev.rating}">5</td>
        <td th:text="${rev.comment}">Great!</td>
        <td th:text="${rev.reviewerUsername}">alice</td>
        <td th:text="${#temporals.format(rev.createdAt, 'yyyy-MM-dd HH:mm')}">
            2025-06-18&nbsp;20:00
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
