<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.min.css"/>
</head>

<body>
<div class="container" style="margin-top: 20px">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-signin" th:action="@{/register}" method="post" th:object="${registerDTO}">
            <h2 class="form-signin-heading">Create account</h2>

            <div th:if="${error}" class="text-danger mb-2" th:text="${error}"></div>

            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" th:field="*{username}" class="form-control"
                       placeholder="Username" required autofocus>
            </p>

            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" th:field="*{password}"
                       class="form-control" placeholder="Password" required>
            </p>

            <p>
                <label for="confirmPassword" class="sr-only">Confirm password</label>
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}"
                       class="form-control" placeholder="Confirm password" required>
            </p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <p class="mt-3">
                <a th:href="@{/login}">Already have an account? Sign in</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>
